* {
    padding: 0px;
    margin: 0px;
    font-family: roboto;
}

p {
    margin: 0;
}

header {
    grid-area: menu;
    background-color: rgb(0, 81, 159);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 1rem;
    font-size: 1.2rem;


}

nav {

    font-size: 1.5rem;
}

main {
    grid-area: seccion-principal;
}

footer {
    grid-area: pie-de-pagina;
    background-color: rgb(3, 40, 109);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0 1.5rem;
}


footer .footer-icons {
    text-align: center;
}
 

body {
    display: grid;
    grid-template-rows: 70px 10fr 1fr;
    grid-template-areas:
        "menu"
        "seccion-principal"
        "pie-de-pagina";
}

.order-by {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
    padding: 1rem 2rem 0.8rem 2rem;

}

.filter {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    padding: 0 0.5rem;
    position: relative;

}

.filter:after {
    position: absolute;
    padding: 1rem;
    right: 1rem !important
}

.products {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.products .model-description {
    padding-bottom: 1.5rem;
}

.products .car {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;

}

.products .car-mobile img{
    width: 400px;

}
.products h3 {
    font-family: roboto;
    font-size: 1.2rem;
    color: rgb(115, 118, 120);
    font-weight: 300;
}

.products .button {
    padding: 8px 1rem;
    background-color: rgb(0, 81, 159);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-family: roboto;
}

.pagination {
    margin-top: 25px;
    justify-content: center;
}

.options {
    display: none;
}

.products .car.car-desktop{
    display: none;

}

@media (min-width: 576px) {
    body {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas:
            "menu seccion-principal"
            "menu seccion-principal"
            "menu seccion-principal"
            "menu seccion-principal"
            "menu seccion-principal"
            "pie-de-pagina seccion-principal";
    }

    header {
        flex-direction: column;
        justify-content: start;
        gap: 2rem;
        padding-top: 1rem;
    }

    header .mdi.mdi-menu {
        display: none;
    }

    .options {
        display: flex;
        flex-direction: column;
        list-style: none;
        font-size: 1rem;
        gap: 1rem;

    }

    .products{
        display: flex;
        flex-wrap: wrap; 
    }

    .car img{
        width: 200px;
    
    }
    
    .car{
        margin-bottom: 1rem;
    }

    .car.car-mobile img{
        width: 200px;
    }

    .products .car.car-desktop{
        display: flex
    
    }
}