* {
    padding: 0px;
    margin: 0px;
    font-family: roboto;
}

header {
    background-color: rgb(0, 81, 159);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 1rem;
    font-size: 1.2rem;


}

nav {
    grid-area: menu;
    font-size: 1.5rem;

}

main {
    grid-area: seccion-principal;

}

footer {
    grid-area: pie-de-pagina;
    background: #d02a1e;
    color: white;

}

body {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        "menu"
        "seccion-principal"
        "pie-de-pagina";
}

.order-by {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
    padding: 1rem 2rem 0.8rem 2rem;

}

.filter {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    padding: 0 0.5rem;
    position: relative;

}

.filter:after {
    position: absolute;
    padding: 1rem;
    right: 1rem !important
}

.products {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.products .model-description{
    padding-bottom: 1.5rem;
}

.products .car{
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    
}

.products h3 {
    font-family: roboto;
    font-size: 1.2rem;
    color: rgb(115, 118, 120);
    font-weight: 300;
}

.products .button {
    padding: 8px 1rem;
    background-color: rgb(0, 81, 159);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-family: roboto;
}

.pagination {
    margin-top: 25px;
    justify-content: center;
}